/*------------------------------
General Styles
--------------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    color: #838282;
    background: #f7f7f7
}

a{
    text-decoration: none
}

ul{
    list-style: none;
    padding: 0
}

.section-padding{
    padding-top: 50px
}

.section-padding-extra{
    padding-top: 50px;
    padding-bottom: 40px
}
.cl-relative{
    position: relative
}

.st-hide{
    opacity: 0
}

.btn-overlay-grey:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #42494f;
    z-index: -1;
    overflow: hidden;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.btn-overlay-blue:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #73afe2;
    z-index: -1;
    border-radius: 4px;
    overflow: hidden;
    transform: translateY(-40px);
    transition: all .4s ease-in-out;
}

.heading{
    margin-bottom: 30px;
}

.heading h2{
    text-transform: capitalize;
    font-weight: bold;
    color: #42494f;
    font-size: 21px;
}

.subscribe-form input{
    border-radius: 4px 0 0 4px;
    padding: 12px 20px;
    margin-top: 6px;
    width: 70%;
    border: none;
    color: #000
}

.subscribe-form button{
    border-radius: 0px 4px 4px 0px;
    padding: 12px 31px;
    margin-left: -4px;
    z-index: 1;
    background: #4d95d1;
    overflow: hidden;
    border: none;
    color: #FFF
}

.subscribe-form button:hover:before{
    transform: translateY(0);
}

i{
    transition: all .4s ease-in-out 
}

.fa-facebook:hover{
    color: #3b5998
}

.fa-twitter:hover{
    color: #1da1f2
}

.fa-google:hover{
    color: #dd4b39
}

.fa-linkedin:hover{
    color: #0077b5
}

.fa-instagram:hover{
    color: #f56040
}

/*------------------------------
Navigation
--------------------------------*/

.navbar{
    overflow: hidden;
    background: #FFF;
    border: none;
    height: auto
}

.navbar-toggle{
    margin-top: 31px
}

.navbar-brand{
    height: auto;
    padding: 22px 39px;
    background: rgba(208, 72, 63, 0.75)
}

.navbar-default .navbar-brand:hover
, .navbar-default .navbar-brand:focus{
    background: rgba(208, 72, 63, 0.75)
}

.navbar ul{
    padding: 29px 0
}

.navbar-default .navbar-nav > li{
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-nav > li > a{
    display: inline-block;
    background: none;
    font-size: 14px;
    padding: 10px;
    transition: color 150ms ease-in-out
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
    color: #888;
}

.navbar-default .sign > li > a{
    cursor: pointer
}

.navbar-default .sign > li > a:hover{
    color: rgba(208, 72, 63, 0.75)
}

/* ******* Log In And REGISTER ******* */

.sign-up > div{
    background: #fcf0ef
}

.sign-in > div{
    background: #f8f8f8;
}

.sign-up > div,
.sign-in > div{
    text-align: center;
    position: fixed;
    display: none;
    padding: 18px 0;
    height: 270px;
    width: 300px;
    left: 142px;
    top: 98px;
}

.sign-up > div > h4,
.sign-in > div > h4{
    font-weight: bold;
    color: #444;
    margin-bottom: 30px
    font-size: 23px;
    
}

.sign-up > div > form i,
.sign-in > div > form i{
    position: absolute;
    top: 15px;
    right: 38px;
    color: #9dc4e5;
    font-size: 14px
}

.sign-up > div > form i{
    color: #e6cbc9
}

.sign-up > div > form input,
.sign-in > div > form input{
    margin-bottom: 9px;
    padding: 11px 14px;
    border-radius: 0;
    font-size: 11px;
    width: 80%;
    border: 1px solid #999;
    background: transparent;
}

.sign-up > div > form button,
.sign-in > div > form button
{
    width: 45%;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 4px;
    margin: auto;
    display: block;
    color: #42494f;
    background: transparent;
    border: 2px solid #42494f;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.sign-up > div > form button:hover,
.sign-in > div > form button:hover{
    color: #FFF
}

.sign-up > div > form button:hover:before,
.sign-in > div > form button:hover:before{
    transform: scale(1)
}


/* ******** Log In And REGISTER ******* */

.navbar-default .navbar-form{
    width: 45%;
    margin: 30px 60px;
    position: relative
}

.navbar-form i:hover{
    color: rgba(0, 0, 255, 0.41)
}

.navbar-form .form-control{
    padding: 6px 27px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent
}

.navbar-form .fa-search,
.navbar-form .fa-close
{
    position: absolute;
    cursor: pointer;
    color: #888;
    font-size: 15px;
    top: 12px;
    transition: color .3s ease-in-out
}

.navbar-form .fa-search{
    left: 21px
}

.navbar-form .fa-close{
    right: 23px;
    display: none;
}

/*------------------------------
Header
--------------------------------*/
.header{
    background: url('../images/startup-photos.jpg');
    background-size: cover;
    color: #FFF
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.header .subscribe-form{
    float: left;
    width: 50%;
    margin-top: 417px;
}

.header .contact-header{
    float: left;
    width: 50%;
    margin-top: 280px;
}

.header .contact-header h1,
.header .contact-header p{
    margin-bottom: 30px
}

.header .contact-header button,
.header .subscribe-form button{
    background: #4d95d1;
    overflow: hidden;
    border: none;
    z-index: 1;
    padding: 12px 31px;
}

.header .subscribe-form button{
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
}

.header .contact-header button{
    border-radius: 3px;
}

.header .contact-header button:hover:before,
.header .subscribe-form form button:hover:before{
    transform: translateY(0);
}

/*------------------------------
Enterprise 
--------------------------------*/
.enterprise .item{
    overflow: hidden;
    margin-bottom: 50px;
}

.enterprise .item i,
.enterprise .item .info{
    float: left
}

.enterprise .item i{
    border-radius: 50%;
    padding: 2px 16px;
    line-height: 57px;
    margin-top: 11px;
    font-size: 22px;
    background: #fbeeed;
    text-align: center;
    border: 4px solid #FFF;
    color: rgba(208, 72, 63, 0.75);
    transition: all .4s ease-in-out
}

.enterprise .item .info{
    margin-left: 4%;
    width: 77%;
    color: #838282
}

.enterprise .item .info h4{
    margin-bottom: 15px;
    letter-spacing: 3px;
    font-size: 15px
}

.enterprise .item .info p{
    line-height: 2;
}

.enterprise .item:hover i{
    background: #FFF;
    border: 2px solid rgba(208, 72, 63, 0.75)
}

/*------------------------------
Our Work
--------------------------------*/

.our-work{
    background: url('../images/our-work.jpg');
    background-position: center;
    background-size: cover;
}

.our-work:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6)
}

.our-work .snip{
    line-height: 1.4em;
    min-height: 220px;
    min-width: 230px;
    max-width: 295px;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: right;
    background-color: #FFF;
    
}
.our-work .snip *{
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.our-work .snip img{
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.our-work .snip .item{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px
}
.our-work .snip h2,
.our-work .snip p{
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
    opacity: 0;
}
.our-work .snip h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: rgba(208, 72, 63, 0.75)
}
.our-work .snip p{
    font-size: 0.8em;
}

.our-work .snip p i{
    margin-left: 17px;
    margin-top: 16px;
    font-size: 20px;
    color: #CCC
}
.our-work .snip a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.our-work .snip:hover img,
.our-work .snip.hover img{
    width: 55%;
    right: -10%;
}
.our-work .snip:hover .item h2,
.our-work .snip.hover .item h2,
.our-work .snip:hover .item p,
.our-work .snip.hover .item p{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/*------------------------------
Recognitions
--------------------------------*/
.recognitions{
    background: url('../images/recognitions-bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.recognitions:before{
    content: '';
    position: absolute;
    background: #FFF;
    height: 50%;
    width: 50%;
    left: 28%;
    top: 0;
    
    transform: skew(30deg);
}

.recognitions:after{
    content: '';
    position: absolute;
    background: #FFF;
    height: 50%;
    width: 50%;
    left: 28%;
    bottom: 0;
    transform: skew(-30deg);
}

.recognitions .recognitions-list{
    letter-spacing: .7px;
    padding: 0 24px;
    font-size: 13px;
    line-height: 2;
    z-index: 999;
    left: 60px;
    color: #838282;
    list-style: none;
}

.recognitions .recognitions-list li{
    margin-bottom: 38px;
}

.recognitions .recognitions-list li:nth-of-type(1),
.recognitions .recognitions-list li:nth-of-type(3){
    margin-left: 44px;
}

.recognitions .recognitions-list li:nth-of-type(2){
    margin-left: 88px;
}

.recognitions .recognitions-list li:nth-of-type(4){
    margin-right: 50px;

}


.recognitions .recognitions-list li h5{
    letter-spacing: 3px;
}

/*------------------------------
buy
--------------------------------*/
.buy{
    background: #b2cde4;
}

.buy h3{
    font-weight: bold;
    color: #42494f;
    margin: 0;
    margin-bottom: 10px
}

.buy button{
    background: #4d95d1;
    overflow: hidden;
    border: none;
    color: #FFF;
    padding: 12px 35px;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 10px;
    z-index: 1;
}

.buy p{
    color: #4f7ea4
}

.buy button:hover:before,
.buy button:hover:before{
    transform: translateY(0);
}

/*------------------------------
Testimoinals
--------------------------------*/
.testimoinals{
    background: #f7f7f7
}

.testimoinals .client{
    margin-bottom: 50px;
    padding: 31px 26px;
    height: 300px;
    width: 94%;
    background: #FFF;
    transition: all 1s ease-in-out
}

.testimoinals .client .client-header{
    height: 110px;
    overflow: hidden;
}

.testimoinals .client .client-header img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
    float: left;
}

.testimoinals .client .client-header h5{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3px;
    margin-top: 6px;
}

.testimoinals .client .client-header span{
    margin-left: 3px;
    color: #c9c9c9
}

.testimoinals .client p{
    font-size: 13px;
    line-height: 2;
    padding: 0 5px;
}

.testimoinals .testimoinals-slider .owl-nav{
    text-align: center;
    margin-bottom: 40px
}

.testimoinals .testimoinals-slider .owl-nav div.owl-prev,
.testimoinals .testimoinals-slider .owl-nav .owl-next{
    padding: 0px 12px;
    background: #dc766f;
    display: inline-block;
    margin: 0 18px;
    font-size: 25px;
    border-radius: 50%;
    color: #FFF;
}

.testimoinals .testimoinals-slider .owl-nav i{
    transition: all .5s ease-in-out
}

.testimoinals .testimoinals-slider .owl-nav div.owl-prev:hover .fa-angle-left{
    transform: translate(-3px);
}

.testimoinals .testimoinals-slider .owl-nav div.owl-next:hover .fa-angle-right{
    transform: translate(3px);
}


/*------------------------------
SCREEN GOES
--------------------------------*/
.screen-goes{
    background: #f5e5d6;
    overflow: hidden
}

.screen-goes .col-md-6{
    padding-left: 0;
    padding-right: 0
}

.screen-goes img{
    margin-left: 160px;
    margin-top: 24px;
}

.screen-goes .head{
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: 50px;
    
}

.screen-goes .head h4{
    text-transform: uppercase;
    color: #838282;
    font-size: 14px;
    margin-bottom: 3px;
    letter-spacing: 3px;
}

.screen-goes .head span{
    color: #bf9e7f
}

.screen-goes .diagram-box{
    background: #dfd0c1;
    padding: 67px 19px
}

.screen-goes .diagram-box .diagram{
    margin: 0 0 0 4px;
}

/*------------------------------
Our Team
--------------------------------*/
.our-team .img-member{
    overflow: hidden;
}

.our-team .img-member img{
    width: 100%
}

.our-team .hover-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 95px 0;
    background: #FFF;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.our-team .hover-box > ul > li > a{
    margin-bottom: 13px;
    border-radius: 50%;
    line-height: 45px;
    font-size: 16px;
    height: 45px;
    width: 45px;
    color: #838282;
    display: inline-block;
    border: 2px solid #f5e5d6;
    transition: all .5s ease-in-out;
}

.our-team .hover-box > ul > li:first-child a,
.our-team .hover-box > ul > li:nth-of-type(3) a
{
    transform: translateX(152px);
}

.our-team .hover-box > ul > li:nth-of-type(2) a{
    transform: translateX(-152px);
}

.our-team .body-member h5{
    letter-spacing: 3px;
    margin-bottom: 0;
    color: #838282;
    text-transform: uppercase    
}

.our-team .body-member span{
    color: #c9c9c9
}

.our-team .img-member:hover .hover-box{
    opacity: 0.95;
}

.our-team .img-member:hover .hover-box li:first-child a,
.our-team .img-member:hover .hover-box li:nth-of-type(2) a,
.our-team .img-member:hover .hover-box li:nth-of-type(3) a
{
    transform: translateX(0);
}

.our-team .hover-box > ul > li > a:hover{
    border: 2px solid #1da1f2;
    background: #1da1f2;
    color: #FFF
}

/*------------------------------
Pricing Table
--------------------------------*/
.pricing-table .table{
    width: 85%;
    padding-top: 18px;
    padding-bottom: 40px;
    border: 1px solid #c9c9c9;
    transition: all .4s ease-in-out
}

.pricing-table .table h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.pricing-table .table span{
    display: block;
    color: #4d95d1;
    font-size: 44px;
    margin-bottom: 30px;
}

.pricing-table .table ul{
    padding: 2px 25px;
}

.pricing-table .table ul li{
    margin-bottom: 18.5px;
    letter-spacing: 1.8px;
    font-size: 11px;
    color: #838282;
}

.pricing-table .table button{
    z-index: 1;
    width: 50%;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 2px;
    margin: auto;
    display: block;
    color: #42494f;
    background: transparent;
    border: 2px solid #42494f;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.pricing-table .table button:hover{
    color: #FFF
}

.pricing-table .table button:hover:before{
    transform: scale(1)
}

.table:hover{
    border: 1px solid #FFF;
    transform: scale(1.1);
    background: #FFF
}


/*------------------------------
blog
--------------------------------*/
.blog .col-md-8,
.blog .col-md-4,
.blog .col-sm-12,
.blog .col-sm-12{
    padding-left: 0;
    padding-right: 0
}

.blog .featured{
    overflow: hidden;
    height: 350px;
}

.blog .featured i{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    z-index: 2;
    color: #FFF;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    transition: all .4s ease-in-out;
    cursor: pointer
}

.blog .featured i:hover{
    color: #1d2025;
    background: #FFF
}

.blog .featured .image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    float: left;
}

.blog .featured .image:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(29,32,37,0.475);
    transition: all .3s ease-in-out;
}

.blog .featured .image img{
    height: 100%;
    width: 100%;
    object-fit: cover
}

.blog .featured .body{
    background: #1d2025;
    float: right;
    color: #FFF;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 42.5px;
    padding-bottom: 45px;
    height: 100%;
    width: 70%;
    transition: all .4s ease-in-out
}


.blog .featured .body .post-meta span{
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 10px;
}

.blog .featured .body .post-meta ul{
    min-height: 13px
}

.blog .featured .body .post-meta ul li{
    letter-spacing: 2px;
    margin-right: 20px;
    font-size: 10px;
    color: #a0a0a0;
    float: left;
}

.blog .featured .body .post-meta ul{
     margin-bottom: 30px;   
}

.blog .featured .body h2{
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
}

.blog .featured .body .post-excerpt{
    color: #9099a8;
    line-height: 2.2
}

.blog .news{
    background-color: #353426;
    padding: 29px 62px 35px 60px;
    height: 350px;
}

.blog .news h5{
    color: #767345;
     margin-bottom: 25px;
    font-weight: 700;
    font-size: 22px;
}

.blog .news ul{
    padding-right: 66px;
}

.blog .news ul li{
    margin-bottom: 35px;
    min-height: 90px;
}

.blog .news ul li > img{
    float: left;
    border-radius: 2px;
    margin-right: 20px;
}

.blog .news ul li > span{
    text-transform: uppercase;
    color: #a4a4a4;
    letter-spacing: 2px;
    font-size: 10px;
}

.blog .news ul li > p{
    line-height: 1.7;
    font-size: 10px;
    color: #818076;
}

.blog .featured:hover .body{
    transform: translateX(20%)
}

.blog .featured:hover .image:before{
    background: none
}

/*------------------------------
Partner
--------------------------------*/

.partner .partner-silder .box{
    margin: auto;
    height: 180px;
    width: 280px;
}

.partner .partner-silder .box img{
    filter: opacity(0.4);
    -webkit-filter: opacity(0.4);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.partner .partner-silder .box img:hover{
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

/*------------------------------
Footer
--------------------------------*/
.footer{
    color: #838282;
    background: #FFF
}

.footer h5{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.footer li{
    margin-bottom: 16px;
    text-transform: capitalize;
}

.footer .about div > h5{
    letter-spacing: normal
}

.footer .about p{
    letter-spacing: 0.3px;
}

.footer .subscribe-form input {
    width: 70%;
    font-size: 15px;
    margin-top: 6px;
    padding: 12px 20px;
    border-radius: 4px 0 0 4px;
    background: #f7f7f7;
    border: none;
}

.footer .footer-social li{
    float: left;
    margin-left: 41px;
}

.footer .footer-social li a{
    color: #555
}

.footer .footer-end{
    margin-top: 30px
}

/*------------------------------
Loading
--------------------------------*/
.loading{
    background: #EEE;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999
}